{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% if not users.items is same as([]) %}
            <h1>Les utilisateurs</h1>

            {# read and display just one flash message type #}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success mt-4">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="count mt-4">
                <h4>Il y a 
                    {{ users.getTotalItemCount }} 
                    utilisateurs enregistrés au total
                </h4>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Numéro</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mot de passe</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">Edition</th>
                        <th scope="col">Suppression</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}         
                        <tr class="table-primary">
                            <th scope="row">{{ user.id }}</th>
                            <td>{{ user.email }}</td>
                            <td>{{ user.password }}</td>
                            <td>{{ user.createdAt|date('d/m/Y') }}</td>
                            <td>
                                <a href="{{ path('dashboard.edit', { id: user.id }) }}" class="btn btn-info">Modifier</a>
                            </td>
                            <td>
                                <a href="{{ path('dashboard.delete', { id: user.id }) }}" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(users) }}
            </div>
            {% else %}
                <h4>Il n'y a pas d'utilisateurs</h4>
            {% endif %}
    </div>
{% endblock %}
